<div id="background" class="flex0">
  <h2 class="corners dark">{{localize "empyrean.background"}}</h2>
  <div class="bordered">
    <div class="flexcol">
      {{> "systems/empyrean/templates/shared/text_field.hbs" field="system.legacy" value=system.legacy label="empyrean.legacy"}}
      {{> "systems/empyrean/templates/shared/text_field.hbs" field="system.homeworld" value=system.homeworld label="empyrean.homeworld"}}
      {{> "systems/empyrean/templates/shared/text_field.hbs" field="system.faction" value=system.faction label="empyrean.faction"}}
      {{> "systems/empyrean/templates/shared/text_field.hbs" field="system.path" value=system.path label="empyrean.path"}}
    </div>
  </div>
</div>
