<div id="drives" class="flex0">
  <h2 class="corners dark">
    {{localize "empyrean.drives"}}
    <a class="addItem" data-item-type="drive">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
    {{#if (any system.drives)}}
      <div class="slim-list">
        {{#each system.drives as |drive|}}
          {{> "systems/empyrean/templates/shared/aspect.hbs" aspect id=aspect.id type=type}}
        {{/each}}
      </div>
    {{else}}
      <p class="center corners light-transparent padded">{{localize "empyrean.none"}}</p>
    {{/if}}
</div>
