<div id="ratings" class="flex0">
  <h2 class="corners dark">
    {{localize "empyrean.ratings"}}
  </h2>
  <div class="flexcol spaced">
    {{#each config.shipRatings as |rating|}}
      {{> "systems/empyrean/templates/sheets/ship/rating.hbs" rating=rating track=(byKey @root.system.ratings rating)}}
    {{/each}}
  </div>
</div>
