<form class="empyrean">
  {{> "systems/empyrean/templates/shared/select_field.hbs" field="rating" label="empyrean.rating" value=rating includeEmpty=true selectOptions=config.shipRatings}}
  {{> "systems/empyrean/templates/shared/number_field.hbs" field="value" label="empyrean.modifier" value=value placeholder="0"}}
</form>
