<form class="empyrean">
  <div class="flexrow spaced">

    <div class="flexcol spaced">
      <div class="flex flex0 flexrow spaced">
        <div class="flex0 img">
          <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>
        <div>
          <input id="name" class="corners" type="text" name="name" value="{{actor.name}}" placeholder="{{localize "empyrean.name"}}" />
        </div>
      </div>

      <div class="flexcol spaced">
        {{> "systems/empyrean/templates/sheets/player/background.hbs"}}
        {{> "systems/empyrean/templates/sheets/player/mires.hbs" type="mires"}}
        {{!--{{> "systems/empyrean/templates/sheets/player/milestones.hbs"}}--}}
        {{> "systems/empyrean/templates/shared/convictions.hbs"
            convictions=convictions
            title=(localize "empyrean.convictions")
            type="conviction"}}
        
        {{> "systems/empyrean/templates/sheets/player/resources.hbs"}}
      </div>
    </div>

    {{!--<div class="flexcol spaced">
      {{> "systems/empyrean/templates/sheets/player/skills.hbs"}}
      {{> "systems/empyrean/templates/sheets/player/languages.hbs"}}
      {{> "systems/empyrean/templates/sheets/player/resources.hbs"}}
    </div>--}}

    <div class="flexcol spaced">
      {{> "systems/empyrean/templates/shared/aspects.hbs"
          aspects=aspects
          title=(localize "empyrean.aspects")
          type="aspect"}}
    </div>

    <div class="flexcol spaced">
      {{> "systems/empyrean/templates/shared/aspects.hbs"
          aspects=temporaryTracks
          title=(localize "empyrean.temporaryTracks")
          type="temporaryTrack"}}
    </div>

    <div class="flexcol spaced">
      {{> "systems/empyrean/templates/shared/wounds.hbs"
          aspects=woundTracks
          title=(localize "empyrean.woundTracks")
          type="woundTrack"}}
      {{!--{{> "systems/empyrean/templates/shared/conditions.hbs"
          aspects=conditionTracks
          title=(localize "empyrean.conditionTracks")
          type="conditionTrack"}}--}}
    </div>

  </div>
</form>